* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
body {
  background-color: black;
}
$columns: 12;
$baseColumnWidth: 100%/$columns;

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffb3b3;

  .row {
    &:before, &:after {
      content: "";
      display: block;
      clear: both;
    }

    [class*='col-'] {  // styluję wszystkie klasy, które rozpoczynają się od col-
      float: left;
      width: $baseColumnWidth;
      min-height: 1px;
      padding: 10px;  // zeby bylo ladnie
    }

    @for $i from 1 through $columns {
      .col-#{$i}{  // trzeba interpolację, żeby wstawiały się kolejne liczby (nr kolumn)
        width: $baseColumnWidth * $i;
      }
    }
  }  // eo row
}   // eo container