.left-side {
  color: black;
  margin-top: 25px;
  min-height: 40px;
  -webkit-box-shadow: inset 0px 0px 33px 7px rgba(35,209,209,0.52);
  -moz-box-shadow: inset 0px 0px 33px 7px rgba(35,209,209,0.52);
  box-shadow: inset 0px 0px 33px 7px rgba(35,209,209,0.52);
}

.left-side p {
  text-align: center;
  padding-top: 10px;
}