.conditions {
  width: 100%;
}


.conditions th {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 90%;
  border-bottom: 3px solid #3498db;
  border-top: 1px solid #3498db;
  text-align: center;
  color: black;
}
.conditions td{
  text-align: center;
  background-color: #e6e6e6;
  border-spacing: 5px;
  min-height: 20px;
}
