footer {
  margin-top: 5em;
  color: white;
  padding-top: 1.5em;
  background-color: black;
  .copyRight{
    text-align: center;
    margin-top: 0.5em;
    a {
      text-decoration: none;
    }
  }
}
.footerContent {
  li:hover{
    cursor: pointer;
  }

}
.mainFlex {

  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;

  li {
    color: white;

  }

}
